@use "../abstracts" as var;

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var.$brand;
  color: var.$dark;
  min-height: 100%;
}

main {
  background: #fff;
}

#preview {
  background-color: hsl(0, 4%, 4%);
  border: var.$border var.$borderColor;
  border-radius: var.$borderRadius;
  padding-bottom: 50%;
  position: relative;
  transition: all 250ms ease-out;
  user-select: all;
}

#caption {
  color: #fff;
  font-weight: 800;
  right: 50%;
  position: absolute;
  text-shadow: -0.0625rem 0 var.$dark, 0 0.0625rem var.$dark, 0.0625rem 0 var.$dark, 0 -0.0625rem var.$dark;
  text-align: center;
  top: 50%;
  transform: translate(50%, -50%);
  width: 100%;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.controls__user {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input[type="range"] {
    -webkit-appearance: none;
    background: var.$borderColor;
    display: block;
    height: 1px;
    margin: 1.5rem 0 0.5rem;
    outline: none;
    width: 100%;
  }

  input[type="range"]::-webkit-slider-thumb,
  input[type="range"]::-moz-range-thumb {
    background-color: var.$link;
    border-width: 0;
    cursor: pointer;
    height: 1rem;
    transition: var.$transition;
    width: 1rem;
  }

  input[type="range"]:hover::-webkit-slider-thumb,
  input[type="range"]:hover::-moz-range-thumb {
    background-color: var.$linkHover;
  }
}

@mixin defaultMedium {
  .grid {
    gap: 2rem 1rem;

    & > div:nth-child(odd) {
      grid-column: 1 / 7;
    }

    & > div:nth-child(even) {
      grid-column: 7 / 13;
    }
  }

 
.button {
    margin-top: 1rem;
    width: 100%;
  }
}

@mixin defaultLarge {
  .grid {
    & > div:nth-child(odd) {
      grid-column: 3 / 7;
    }

    & > div:nth-child(even) {
      grid-column: 7 / 11;
    }
  }
}
