@use "../abstracts" as var;

.grid {
  display: grid;
  gap: 2rem 0.5rem;
  padding: 4rem 0.5rem;

  &:nth-child(even) {
    background: var.$light;
  }
}

@mixin gridMedium {
  .grid {
    gap: 2rem 1rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 4rem 1rem;
  }

  .grid > * {
    grid-column: 1 / 13;
  }
}

@mixin gridLarge {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 8rem 1rem;
  }

  .grid > * {
    grid-column: 3 / 11;
  }
}
