@use "../abstracts" as var;

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var.$brand;
  color: var.$dark;
  min-height: 100%;
}

main {
  background: #fff;
}

h2 {
  text-align: center;
}

@mixin defaultMedium {
  h2 {
    text-align: inherit;
  }
}
