@use "../abstracts" as var;

#result {
  background: var.$light;
  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
  font-family: var.$monospace;
  padding: 1rem 0.5rem;
  user-select: text;

  .primary {
    font-size: var.$h2;
    font-weight: 900;
  }

  .secondary {
    font-weight: 500;
  }
}

@mixin medium {
  #result {
    padding: 1rem;
  }
}
