$dark: hsl(240, 20%, 16%);
$light: hsl(240, 20%, 92%);
$brand: hsl(150, 44%, 24%);
$golden: hsl(45, 60%, 44%);

$link: hsl(210, 80%, 40%);
$linkHover: lighten($link, 12%);

$button: $brand;
$buttonHover: lighten($button, 12%);

$borderColor: hsl(240, 20%, 84%);
$dropShadow: drop-shadow(0.125rem 0.353553rem 0.5rem rgba(0, 0, 0, 0.12));
