@use "sass:color";

$white: hsl(240 20% 100%);
$light: hsl(240 20% 90%);
$gray: hsl(240 20% 40%);
$dark: hsl(240 20% 15%);

$bordeaux: hsl(0 55% 40%);
$brand: hsl(150 45% 25%);
$golden: hsl(42 60% 45%);

$link: hsl(222 80% 40%);
$link-hover: color.scale($link, $lightness: 10%);
$white-hover: color.scale($white, $lightness: -10%);

$button: $brand;
$button-hover: color.scale($button, $lightness: 10%);

$border-color: hsl(240 20% 85%);
$drop-shadow: drop-shadow(0.125rem 0.353553rem 0.5rem hsl(0 0% 0% / 0.10));
