$sansSerif: "Inter", sans-serif;
$cursive: "Unifraktur Maguntia", cursive;
$monospace: "Inconsolata", monospace;

$h1: 2rem;
$subtitle: 1.681793rem;
$h2: 1.414214rem;
$h3: 1.189207rem;
$small: 0.840896rem;

$letterSpacing: 0.0625rem;
