@use "sass:string";
@use "../abstracts" as var;

.header {
  background: var.$brand;
  color: #fff;
  position: relative;
  text-align: center;

  .grid {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__brand,
  &__brand:any-link {
    align-items: center;
    color: lighten(var.$gold, 12%);
    display: flex;
    gap: 0 0.5rem;
    justify-content: center;

    &:hover {
    color: lighten(var.$gold, 24%);
    }
  }

  &__logo {
    display: block;
    fill: currentcolor;
    height: var.$h2;
    margin-bottom: 0.25rem;
    width: auto;
  }

  &__text {
    font: 400 var.$subtitle string.unquote("/") 1.27202 var.$cursive;
  }
}
