@use "../abstracts" as var;

.picture {
  border-radius: 50%;
  margin: 0 auto;
  max-width: 11.313708rem;
  width: 100%;

  &__image {
    background: url("../images/profile-picture.webp") center / cover no-repeat var.$borderColor;
    border: var.$border var.$borderColor;
    border-radius: 50%;
    padding-bottom: 100%;
  }
}
