@use "sass:string";
@use "../abstracts" as var;

.header {
  background: var.$brand;
  color: #fff;
  position: relative;
  text-align: center;

  .grid {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &__subtitle,
  &__subtitle:any-link {
    align-items: center;
    color: #fff;
    display: flex;
    font: 400 var.$subtitle string.unquote("/") 1.27202 var.$cursive;
    gap: 0 0.5rem;
    justify-content: center;

    &:hover {
      color: #fff;
    }
  }

  &__image {
    display: block;
    height: var.$h2;
    margin-bottom: 0.25rem;
    width: auto;
  }
}
