@use "../abstracts" as var;

.message {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  &__image {
    grid-column: 2;
    grid-row: 1;
    position: relative;

    img {
      background: var.$backgroundImage;
      border: var.$border var.$borderColor;
      border-radius: 50%;
      display: block;
      height: auto;
      margin: 0 auto;
      width: 100%;
    }
  }

  &__arrow {
    border-bottom: 0.5rem solid #fff;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.08));
    height: 0;
    left: 50%;
    position: absolute;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    width: 0;
    z-index: 1;
  }

  &__body {
    background: #fff;
    border-radius: var.$borderRadius;
    filter: var.$shadow;
    grid-column: 1 / 4;
    grid-row: 2;
    padding: 1rem 0.5rem;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 700;
    gap: 0 0.5rem;
    letter-spacing: 0;
    margin-bottom: 0.25rem;
  }

  &__details {
    align-items: center;
    color: hsl(240, 16%, 52%);
    display: inline-flex;
    font-size: var.$small;
    font-weight: 400;
    gap: 0.25rem;

    svg {
      height: auto;
      width: var.$small;
    }
  }
}

@mixin messageMedium {
  .message {
    grid-template-columns: repeat(6, 1fr);

    &__image {
      grid-column: 1 / 2;
    }

    &__arrow {
      border-bottom: 0.5rem solid transparent;
      border-left: 0;
      border-right: 0.5rem solid #fff;
      border-top: 0.5rem solid transparent;
      bottom: auto;
      left: calc(100% + 0.5rem);
      top: 50%;
      transform: translateY(-50%);
    }

    &__body {
      grid-row: 1;
      grid-column: 2 / 7;
      padding: 1rem;
    }
  }
}

@mixin messageLarge {
  .message {
    grid-template-columns: repeat(12, 1fr);

    &__image {
      grid-column: 1 / 3;
    }

    &__body {
      grid-column: 3 / 13;
      grid-row: 1;
    }
  }
}
