@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100 900;
  src: local(Work Sans), local(WorkSans), url(../fonts/sans-serif/WorkSans-VariableFont_wght.ttf) format(truetype) tech(variations);
}
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 100 900;
  src: local(Work Sans), local(WorkSans), url(../fonts/sans-serif/WorkSans-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}
@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-stretch: 50% 200%;
  font-style: normal;
  font-weight: 200 900;
  src: local(Inconsolata), url(../fonts/monospace/Inconsolata-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}
*,
::after,
::before {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: hsl(150, 45%, 25%);
  color: hsl(240, 20%, 15%);
  font: 400 1rem / 1.618034 "Work Sans", sans-serif;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

main {
  background: hsl(240, 20%, 100%);
}
main section:nth-child(even) {
  background: hsl(240, 20%, 90%);
}

.hidden {
  display: none;
}

h1,
.h1 {
  font: 800 2rem / 1.27202 "Work Sans", sans-serif;
}

h2,
.h2 {
  font: 700 1.587401rem / 1.27202 "Work Sans", sans-serif;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font: 700 1.259921rem / 1.618034 "Work Sans", sans-serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

.small {
  font-size: 0.793701rem;
}

strong,
.bold {
  font-weight: 700;
}

em,
.italic {
  font-style: italic;
}

.cursive {
  font-family: cursive;
}

.monospace, .key {
  font-family: "Inconsolata", monospace;
}

.key {
  font-stretch: 72%;
  user-select: all;
  word-break: break-all;
}

.letter-spacing {
  letter-spacing: 0.0625rem;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

a {
  color: hsl(222, 80%, 40%);
  cursor: pointer;
  overflow-wrap: break-word;
  text-decoration: none;
  transition: all 250ms ease-out;
}
a:hover {
  color: #1750d3;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

svg {
  height: 1rem;
  width: auto;
}

img {
  background: hsl(240, 20%, 85%);
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.border {
  border: 1px solid hsl(240, 20%, 85%);
}

.border-radius {
  border-radius: 0.5rem;
}

.border-radius--circle {
  border-radius: 50%;
}

.shadow {
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid {
  gap: 1rem 0.5rem;
  display: grid;
}

.flex {
  display: flex;
  gap: 1rem 0.5rem;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--col {
  flex-direction: column;
}

.flex--wrap {
  flex-wrap: wrap;
}

.header {
  color: hsl(240, 20%, 100%);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.header .header__link {
  color: hsl(240, 20%, 100%);
}
.header .header__link:hover {
  color: hsl(240, 20%, 100%);
}
.header .header__icon {
  height: 1.259921rem;
  width: auto;
}

.section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.section__title {
  letter-spacing: 0.0625rem;
  text-align: center;
}

.footer {
  color: hsl(240, 20%, 100%);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .footer__icon {
  margin: 0 0.5rem;
}
.footer .footer__link {
  color: hsl(240, 20%, 100%);
}
.footer .footer__link:hover {
  color: hsl(240, 20%, 100%);
}
.footer .footer__owner .footer__link::before {
  content: " | ";
}

.video {
  background: url("../images/video_cover.jpg") center/cover no-repeat hsl(240, 20%, 90%) !important;
}

.video__cover {
  background: hsla(0, 0%, 0%, 0.9);
}

.video__image {
  background: unset;
  border-radius: 0.5rem;
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
}

.video__link {
  color: hsl(240, 20%, 100%);
  display: block;
  position: relative;
  width: 100%;
}
.video__link:hover {
  color: #e0e0eb;
}

.video__icon {
  filter: drop-shadow(0 0 0.5rem hsl(0, 0%, 0%));
  height: 4rem;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  transition: all 250ms ease-out;
  width: auto;
}

.button {
  display: flex;
  gap: 1rem 0.5rem;
}

.button {
  align-items: center;
  background: hsl(150, 45%, 25%);
  border-radius: 0.5rem;
  color: hsl(240, 20%, 100%);
  letter-spacing: 0.0625rem;
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 500ms ease-out;
}
.button:hover {
  background: #2e7853;
  color: hsl(240, 20%, 100%);
}
.button--golden {
  background: linear-gradient(114deg, hsl(42, 60%, 45%) 16.666667%, #c39731 20.37037%, hsl(42, 60%, 45%) 24.074074%, hsl(42, 60%, 45%) 53.703704%, #c39731 61.111111%, #cd9f35 64.814815%, #c39731 68.518519%, #cd9f35 72.222222%, #c39731 75.925926%, hsl(42, 60%, 45%) 83.333333%) left/200%;
}
.button--golden:hover {
  background: linear-gradient(114deg, hsl(42, 60%, 45%) 16.666667%, #c39731 20.37037%, hsl(42, 60%, 45%) 24.074074%, hsl(42, 60%, 45%) 53.703704%, #c39731 61.111111%, #cd9f35 64.814815%, #c39731 68.518519%, #cd9f35 72.222222%, #c39731 75.925926%, hsl(42, 60%, 45%) 83.333333%) right/200%;
}

.card--art {
  display: grid;
  grid-template-rows: minmax(232px, auto) 1fr;
}

.card {
  background: hsl(240, 20%, 100%);
  border-radius: 0.5rem;
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
}

.card__header,
.card__footer {
  text-align: center;
}

.card__title {
  font-size: 1.259921rem;
  font-weight: 700;
}

.card__body {
  padding: 1rem 0.5rem;
}

.card__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

.card__footer {
  margin-top: 1rem;
}

.card--link {
  color: hsl(240, 20%, 15%);
  display: block;
  position: relative;
}
.card--link .card__image {
  border-radius: 0.5rem;
  filter: grayscale(100%) brightness(90%);
  transition: all 250ms ease-out;
}
.card--link .card__body {
  background: hsl(0, 0%, 100%);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-out;
  width: 100%;
}
.card--link .card__link {
  color: hsl(222, 80%, 40%);
  transition: all 250ms ease-out;
}
.card--link:hover {
  color: hsl(240, 20%, 15%);
}
.card--link:hover .card__image {
  filter: unset;
}
.card--link:hover .card__body {
  background: hsla(0, 0%, 100%, 0.9);
}
.card--link:hover .card__link {
  color: #1750d3;
}

.speech__cite, .speech__footer, .speech__body, .speech {
  display: flex;
  gap: 1rem 0.5rem;
}

.speech {
  flex-direction: column;
}

.speech__cover {
  position: relative;
}

.speech__image {
  border: 1px solid hsl(240, 20%, 85%);
  border-radius: 50%;
  margin: 0 auto;
  width: 144px;
}

.speech__body {
  background: hsl(240, 20%, 100%);
  border-radius: 0.5rem;
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  z-index: 1;
}

.speech__arrow,
.speech__arrow-shadow {
  border-bottom: 1rem solid hsl(240, 20%, 100%);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  left: 50%;
  position: absolute;
  top: calc(100% + 1rem);
  transform: translateX(-50%);
}

.speech__arrow {
  z-index: 2;
}

.speech__arrow-shadow {
  filter: drop-shadow(0.125rem 0.353553rem 0.5rem hsla(0, 0%, 0%, 0.1));
}

.speech__footer {
  flex-wrap: wrap;
  font-size: 0.793701rem;
}

.speech__author::before {
  content: "— ";
}

.speech__icon {
  height: 0.793701rem;
}

.speech__cite {
  align-items: center;
  color: hsl(240, 20%, 50%);
  gap: 0.25rem;
}

.footer-b__link, .footer-b__list, .footer-b {
  display: flex;
  gap: 1rem 0.5rem;
}

.footer-b__main {
  display: grid;
  gap: 1rem 0.5rem;
}

.footer-b {
  flex-direction: column;
}

.footer-b__section {
  text-align: center;
}

.footer-b__title {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

.footer-b__list {
  align-items: center;
  flex-direction: column;
  font-size: 0.793701rem;
}

.footer-b__link {
  align-items: center;
  gap: 0.25rem;
}

.footer-b__footnote {
  border-top: 1px solid hsl(240, 20%, 85%);
  font-size: 0.793701rem;
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes icon-grow {
  50% {
    transform: scale(1.189207);
  }
}
.animation--fade-in--show {
  animation: 1000ms ease-out forwards 250ms fade-in;
}

.animation--icon-grow:hover svg:first-of-type {
  animation: 500ms ease-out forwards icon-grow;
}

.grid-hidden--mobile,
.grid-hidden--tablet,
.flex-hidden--mobile,
.flex-hidden--tablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .grid {
    gap: 1rem;
  }
  .grid--col-2,
  .grid--col-3 {
    grid-template-columns: repeat(2, minmax(232px, 1fr));
  }
  .grid--col-2--reverse > *:first-child {
    order: 1;
  }
  .grid--row-2 {
    grid-template-rows: minmax(232px, auto) 1fr;
  }
  .flex {
    gap: 1rem;
  }
  .flex--medium--row {
    flex-direction: row;
  }
  .flex--medium--reverse {
    flex-direction: row-reverse;
  }
  .section {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
  .footer-b,
  .footer-b__list, .speech__footer, .speech__body, .speech, .button,
  .button--golden {
    gap: 1rem;
  }
  .button,
  .button--golden {
    padding: 1rem 2rem;
  }
  .card__body {
    padding: 1rem;
  }
  .card--art--row {
    grid-template-columns: repeat(2, minmax(232px, 1fr));
    grid-template-rows: unset;
  }
  .card--art--row .card__image {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
  }
  .card--art--row .card__header,
  .card--art--row .card__footer {
    text-align: unset;
  }
  .card--art--reverse .card__cover {
    order: 1;
  }
  .card--art--reverse .card__image {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .footer-b,
  .footer-b__list, .speech__footer, .speech__body, .speech, .button,
  .button--golden {
    gap: 1rem;
  }
  .speech {
    align-items: flex-start;
    flex-direction: row;
  }
  .speech__body {
    align-self: stretch;
    margin-left: 1rem;
    margin-top: unset;
    padding: 1rem;
  }
  .speech__arrow,
  .speech__arrow-shadow {
    border-bottom: 1rem solid transparent;
    border-left: unset;
    border-right: 1rem solid hsl(240, 20%, 100%);
    border-top: 1rem solid transparent;
    bottom: unset;
    left: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
  }
  .speech__cite {
    gap: 0.5rem;
  }
  .speech--reverse {
    flex-direction: row-reverse;
  }
  .speech--reverse .speech__body {
    margin-right: 1rem;
  }
  .speech--reverse .speech__arrow,
  .speech--reverse .speech__arrow-shadow {
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid hsl(240, 20%, 100%);
    border-right: unset;
    border-top: 1rem solid transparent;
    bottom: unset;
    left: unset;
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-b,
  .footer-b__list, .button,
  .button--golden, .speech, .speech__body, .speech__footer {
    gap: 1rem;
  }
  .footer-b__main {
    gap: 1rem;
  }
  .footer-b__main {
    grid-template-columns: repeat(3, minmax(232px, 1fr));
  }
  .footer-b__link {
    gap: 0.5rem;
  }
  .footer-b__footnote {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .grid-hidden--mobile {
    display: grid;
  }
  .flex-hidden--mobile {
    display: flex;
  }
}
@media only screen and (min-width: 1152px) {
  .grid-hidden--tablet {
    display: grid;
  }
  .flex-hidden--tablet {
    display: flex;
  }
  .grid--col-3 {
    grid-template-columns: repeat(3, minmax(232px, 1fr));
  }
}

/*# sourceMappingURL=styles.css.map */
