.flex {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.flex-item {
    flex: 1;
}

.primary {
    font-weight: 700;
}

.secondary {
    color: hsl(240, 12.5%, 25%);
    font-size: var(--s);
    font-weight: 500;
}

#result {
    border: 0.0625rem solid hsl(240, 12.5%, 87.5%);
    border-radius: 0.5rem;
    padding: 1rem;
}

input {
    display: block;
    margin: 0.5rem 0 1rem;
    width: 100%;
}

input[type=text],
button {
    border: 1px solid hsl(240, 12.5%, 87.5%);
    border-radius: 0.25rem;
    outline: 0;
    padding: 0.5rem 1rem;
}

#ratio {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-with-button {
    display: flex;
}

.input-with-button button {
    background-color: hsl(240, 12.5%, 87.5%);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    font-weight: 500;
    margin: 0.5rem 0 1rem;
    transition: opacity var(--body__ln-trs);
}

.input-with-button button:hover {
    opacity: .875;
}

input[type="range"] {
    -webkit-appearance: none;
    background: hsl(240, 12.5%, 87.5%);
    height: 1px;
    margin: 1rem 0;
    outline: none;
    -webkit-transition: 250ms;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    background-color: var(--body__ln);
    border-width: 0;
    cursor: pointer;
    height: 1rem;
    transition: background-color 250ms;
    width: 1rem;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--body__ln-hover);
}

@media only screen and (min-width: 768px) {
    .flex {
        flex-direction: row-reverse;
    }
}
